robotframework==3.2.1
robotframework-seleniumlibrary==4.5.0
robotframework-allurereport==1.1.1
robotframework-requests==0.7.1
allure-robotframework==2.8.18
pytest-allure-adaptor==1.7.10
robotframework-consoledialogs==1.1.3
